<!DOCTYPE html>
<html>
<head>
  <title>Essai</title>
  <%= stylesheet_link_tag :all %>
  <%= stylesheet_link_tag "flexigrid/flexigrid"%>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
